<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My First CRUD App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel="stylesheet" href="app.css">



  </head>



  <body>
  <h1 class="frog-title"> FLEXIN ON THESE FROGS </h1>
  <div id="app">
    <input placeholder="New item" v-model="newTodo" @keydown.enter="addTodo">
    <ul class="itemList">

      <todo-item
        v-for="todo in todos"
        v-bind:todo="todo"
        v-bind:key="todo.text">
      </todo-item>
    </ul>
  </div>
      <!--<li v-for="todo in todos" :class="{ completed: todo.completed }">-->
        <!--<input type="checkbox" v-model="todo.completed" @click.middle="deleteToDo(todo.text)">-->
        <!--<span v-show ="todo.edit === false">-->
          <!--<label @dblclick="todo.edit = true"> {{todo.text}} </label>-->
        <!--</span>-->
        <!--<input v-show="todo.edit === true" v-model="todo.text" type="text"-->
               <!--v-on:blur="todo.edit=false; $emit('update')"-->
               <!--@keyup.enter ="todo.edit=false; $emit('update')"-->
               <!--@keyup.esc="todo.edit=false; $emit('update')"-->
               <!--v-todo-focus="todo.edit === true">-->
      <!--</li>-->





  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
  </body>
</html>